[flake8]

exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
    settings.py,
    __init__,
    migrations,
    accounts/views.py,
    blog/management/commands/insert_data.py,
    

ignore = 
    E712,
    W503